__pycache__/utils.cpython-313.pyc
__pycache__/MainWindov.cpython-313.pyc
__pycache__/media_opener.cpython-313.pyc
__pycache__/MenuBar.cpython-313.pyc
__pycache__/PlaybackEngine.cpython-313.pyc
__pycache__/PlayerControls.cpython-313.pyc
__pycache__/PlayerControls1.cpython-313.pyc
__pycache__/PlayerWindow.cpython-313.pyc
__pycache__/StatusBar.cpython-313.pyc
__pycache__/ThemeColor.cpython-313.pyc
assets/test.mp4
assets/test2.mp4
assets/svg_minify.py
desktop.ini
Plan.txt
